th{
    background-color: #0B5050 !important;
    border: none !important;
    color: aliceblue !important;
}
Table{
    border: 1px solid #050505 !important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
td{
    border: none !important;
}
span.page-link{
    background-color: #027C54 !important;
   
}
.page-link{
    border-radius:50% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
a.page-link{
background-color: #2C3636 !important;
color: aliceblue !important;

}