
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color1: #f7f4e8;
  --color2: #daf3ea;
  --color3: #85e6c0;
  --color4: #6bb39b;
  --color5: #0b0b0d;
  --red: red;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
